<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/javascripts/database.js" type="module"></script>
    <script src="/javascripts/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/javascripts/app.js"></script>
    <title>Stories</title>
</head>
<body onload="initServiceWorker()"> <!--WHY HERE-->
<div class="center">
    <h1 class="mb-4">Stories</h1>
    <a href="/createStory" class="btn btn-success">New Story</a>
    <h1 class="mb-4">new Room</h1>
    <a href="/generateRoom" class="btn btn-success">New room</a>

</div>

<form id="xForm" onsubmit="onSubmit2('/home')">
    <p><input type="submit" name="g" value="Submit" id="g"></p>
</form>

<div id="results" style="margin-top:30px"></div>

</body>
</html>
