<ul>
    <li><a href="/">
            <div class="logo-img">
                <img class="logo" src="images/logo.png">
            </div>
        </a></li>
    <li><a class="title" href="/">aNOTEate</a></li>
    <li style="float:right"><a href="/createStory">New Story</a></li>
</ul>