:root {
    --blue1: #A8DADC;
    --blue2: #457B9D;
    --blue3: #1D3557;
    --white: #F1FAEE;
    --yellow: #E9C46A;
}

html {
    background-color: var(--blue1);
    height:100%;
}

body {
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: auto !important; /* this will center the page */
    background-color: var(--white) !important;
    width:1000px;
    overflow: scroll;
}
main {

    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
a {
  color: #00B7FF;
}

.boxed {
  width: 100%;
  padding:10px;
}
.bottom {
  position: absolute;
  bottom: 10px;
  width: 90%;
}
.scrolling {
    overflow: scroll;
    max-height: 40vh;
}
.outsideWrapper{
    width:256px; height:256px;
    margin:20px 60px;
    border:1px solid blue;}
.insideWrapper{
    width:100%; height:100%;
    position:relative;}
.coveredImage{
    width:100%; height:100%;
    position:absolute; top:0px; left:0px;
}
.coveringCanvas{
    width:100%; height:100%;
    position:absolute; top:0px; left:0px;
    background-color: rgba(255,0,0,.1);
}
.center {
    border: 5px solid var(--yellow);
    text-align: center;
}


.storiesHtml{
    font-size: 10px;
}

.storiesBody{
    height: 100vh;
}

.storyCard{
    width: 60rem;
    font-family: "Open Sans", sans-serif;
    background-color: #f4f4f4;
    box-shadow: 3px 3px 1rem rgba(0,0,0,.1);
    margin-bottom: 20px;
}

.image-container{
    height: 18rem;
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-container{
    padding: 2rem;
}

.heading{
    font-size: 3rem;
    font-family: "Palatino Linotype";
    margin-bottom: 1rem;
}

.author{
    font-size: 2rem;
    font-family: "Palatino Linotype";
    margin-bottom: .5rem;
}

.paragraph{
    font-size: 1.6rem;
}

.btn{
    display: inline-block;
    font-size: 1.2rem;
    color: #00B7FF;
    background-color: #f4f4f4;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 2rem;
    margin-top: 2.5rem;
    border-radius: 2rem;
    transition: background-color .5s;
}

.storyListHeader{

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--blue3);
    color: var(--white);
}

li {
    float: left;
}

li a {
    display: block;
    color: var(--white);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.title {
    font-weight: bold;
    color: var(--yellow) !important;
    text-decoration: none;
}

li a:hover:not(.title) {
    background-color: var(--blue2);
    text-decoration: none;
    color: var(--yellow);
}
